<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="/static/styles.css"/>

        <title>카카오톡 프로필 UI</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="background">
                <hr class="hr_1">
                ❤️ Lucky GemstoneS~~ ❤️
                <br>
                HTML CSS 생각했던 것보다 더 어렵다ㅜㅜ 그래도 열심히 해보자👊👊👊!
            </div>
            <div class="profile">
                <img class="profile_image" src="https://www.gemselect.com/media/article-images/lucky-gemstones.jpg"/>
                <h1 class="profile_name">GemstoneS</h1>
            </div>
            <div class="icons">
                <img alt="Error" width="80px" height="80px" src="/images/나와의 채팅.png"/>
                <img alt="Error" width="80px" height="80px" src="/images/프로필관리.png"/>
                <img alt="Error"  width="80px" height="80px" src="/images/카스.png"/>
            </div>
            <div class="icons_header">
                <span>나와의 채팅</span>
                <span>프로필 관리</span>
                <span>카카오스토리</span>
            </div>
        </div>
    </body>
</html>
